.Rproj.user
.Rhistory
.RData
.Ruserdata
._.DS_Store
.DS_Store
._DESCRIPTION
R/._pgainsim.R
._NAMESPACE
._pgainsim.Rproj
inst/._CITATION
._vignettes
._README.md
._pgainsim.Rproj
._inst
vignettes/._pgainsim.Rmd
._pgainsim.Rproj
